#chat {
    position:fixed;
}

#message-con {
    background-color:white;
    margin-bottom:20px;
    border-radius:10px;
    width:100%;
    height: 400px;
    display: block;
    overflow:scroll; 
    display:flex;
    flex-direction: column-reverse;
    padding-bottom:20px;
    max-width:600px;
}

.user-message {
    display:flex;
    padding:10px;
    font-size:12pt;
}
.other-message {
    display:flex;
    padding:10px;
    font-size:12pt;
}

.user-message time{
    font-size:9pt;
    margin-left: auto;
    margin-right:10px;
    margin-top:10px;
    color:rgb(187, 187, 187);
}
.user-message img{
    width:40px;
    height:40px;
    border-radius:100px;
}
.user-message p{
    margin:0px;
    background-color:rgb(153, 180, 255);
    padding:7px 20px;
    border-radius:5px;
    text-align:left;
    margin-right:10px;
    max-width:250px;
}
.other-message time{
    font-size:9pt;
    margin-right: auto;
    margin-left:10px;
    margin-top:10px;
    color:rgb(187, 187, 187);
}
.other-message img{
    width:40px;
    height:40px;
    border-radius:100px;
}
.other-message p{
    margin:0px;
    background-color:rgb(255, 153, 153);
    padding:7px 20px;
    border-radius:5px;
    text-align:left;
    margin-left:10px;
}

#message-input{
    background-color:rgb(255, 255, 255);
    border:2px solid rgb(202, 202, 202);
    padding:10px 20px;
    border-radius:5px;
    max-height: 100px;
    overflow: auto;
    outline-color:var(--main);
    cursor: text;
}
